{% extends 'manage/manage_entities.html' %}

{% block entity_type %}Users{% endblock %} 

{% block table_headers %}
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">Full Name</th>
    <th scope="col">Email</th>
    <th scope="col" class="text-end">Actions</th>
{% endblock %}

{% block table_rows %}
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        
        <td class="text-end">
        {% block action_buttons %}
            <a href="{% url 'get_user' user.id %}" class="btn btn-primary btn-sm" >View</a>
        {% endblock %}
        </td>            
    </tr>
    {% endfor %}
{% endblock %}