asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.16
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
pip-search==0.0.12
pygments==2.18.0
requests==2.32.3
rich==13.9.4
soupsieve==2.6
sqlparse==0.5.2
typing-extensions==4.12.2
urllib3==2.2.3
