{% extends 'base_content.html' %}
{% block content %}
  <div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(to right, #2c3e50, #3498db);">
    <div class="text-center text-white p-5 rounded shadow-lg" style="max-width: 800px; background-color: rgba(0, 0, 0, 0.6);">
      <h1 class="display-4 font-weight-bold mb-4">Welcome to your Admin Dashboard, {{ user.username }}</h1>

      <p class="lead mb-4">Manage your users and tutors!</p>



    </div>
  </div>
{% endblock %}
