{% extends 'base_content.html' %}

{% block content %}
<div class="container mt-5">
    <!-- TODO: utilise e.g. if (isinstance(Student, user)-->
    <h2 class="mb-4">Manage {% block entity_type %}{{entity_type}}{% endblock %}</h2> 
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            {% block table_headers %}
            {% endblock %}
        </tr>
        </thead>
        <tbody>
            {% block table_rows %}
            {% endblock %}
        </tbody>
    </table>
</div>
{% endblock %}