{% extends 'base_content.html' %}
{% block content %}
  <div class="container-fluid" style="background: linear-gradient(to right, #2c3e50, #3498db); min-height: 100vh; overflow-y: auto; padding: 50px 0;">
    <div class="d-flex justify-content-center">
      <div class="text-center text-white p-4 rounded shadow-lg" style="max-width: 600px; background-color: rgba(0, 0, 0, 0.6);">
        <h1 class="display-4 font-weight-bold mb-4">Tutor Sign Up</h1>

        <form action="{% url 'tutor_sign_up' %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}

          <div class="mt-4">
            <input type="submit" value="Sign Up" class="btn btn-success btn-lg btn-block rounded-pill">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
