{% extends 'dashboard.html' %}

{% block dashboard_content %}
<div>
    <!-- Upcoming Lessons -->
    <div class="mb-5">
        <h3 class="mb-3">Your upcoming lessons</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Student</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Venue</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO -->
                {% for lesson in tutor_lessons %}
                <tr>
                    <td>{{ lesson.date }}</td>
                    <td>{{ lesson.time }}</td>
                    <td>{{ lesson.duration }}</td>
                    <td>{{ lesson.student }}</td>
                    <td>{{ lesson.subject }}</td>
                    <td>{{ lesson.venue }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Previous Lessons -->
    <div class="mb-5">
        <h3 class="mb-3">Your previous lessons</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Student</th>
                    <th scope="col">Subject</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO -->
                {% for lesson in previous_lessons %}
                <tr>
                    <td>{{ lesson.date }}</td>
                    <td>{{ lesson.time }}</td>
                    <td>{{ lesson.duration }}</td>
                    <td>{{ lesson.student }}</td>
                    <td>{{ lesson.subject }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
