{% extends 'base_content.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="mb-4">{{ tutor.user.username }}</p></h2>

            <div class="mb-3">
                <p><strong>User ID</strong>: #{{ tutor.user.id }}</p>
            </div>
            <div class="mb-3">
                <p><strong>First Name</strong>: {{ tutor.user.first_name }}</p>
            </div>
            <div class="mb-3">
                <p><strong>Last Name</strong>: {{ tutor.user.last_name }}</p>
            </div>
            <div class="mb-3">
                <p><strong>Email</strong>: {{ tutor.user.email }}</p>
            </div>
            <div class="mb-3">
                <p><strong>Role</strong>: {{ tutor.user.role }}</p>
            </div>
            <p><strong>Specialty languages</strong>: 
                <ul>
                    {% for specialty in tutor.get_specialties %}
                        <li>{{ specialty }}</li>
                    {% empty %}
                        <li>No specialties listed</li>
                    {% endfor %}
                </ul>
            </p>
            <p><strong>Availabile on</strong>: 
                <ul>
                    {% for day in tutor.get_availability %}
                        <li>{{ day }}</li>
                    {% empty %}
                        <li>Not available</li>
                    {% endfor %}
                </ul>
            </p>
            <p><strong>Hourly Rate</strong>: {{tutor.rate}}</p>

            <a href="{% url 'manage_tutors' %}" class="btn btn-primary">
                OK
            </a>
            <a href="{% url 'update_user' tutor.user.id %}" class="btn btn-warning">
                Edit
            </a>
            <a href="{% url 'delete_tutor' tutor.user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">
                Delete
            </a>
        </div>
    </div>
</div>
{% endblock %}